<html>
<head>
<meta charset="utf-8">
<title>Aide à l'utilisation de l'api IIIF</title>
</head>
<body>
	<h1>Version actuelle : 1.0</h1>
	<h2>
		Version suportée de <a href="https://iiif.io/api/image/3.0/">
			l'image API IIIF </a>: 3.0.0
	</h2>
	<h3>Liste des fonctionnalités non supportées</h3>
	<ul>
		<li>Encodage des URI de l'identifier</li>
		<li>Gestion des CORS</li>
		<li>Paramètres de région</li>
		<ul>
			<li>square</li>
			<li>x,y,w,h</li>
			<li>x,y,w,h</li>
			<li>pct:x,y,w,h</li>
		</ul>
		<li>
	</ul>


</body>
</html>